<div>
  <label for="contact-name">Name</label>
  <input type="text" [(ngModel)]="newContact.name">
</div>
<div>
  <label for="contact-email">Email</label>
  <input type="text" [(ngModel)]="newContact.email">
</div>
<div>
  <label for="contact-phone">Phone</label>
  <input type="text" [(ngModel)]="newContact.phoneNumber">
</div>
<div>
  <label for="contact-image">Image</label>
  <input type="text" [(ngModel)]="newContact.image">
</div>



<button (click)="addContact()">Submit New Contact</button>

<ul>
  <li *ngFor = "let contact of contacts">
    <p>  {{contact.name}} </p>
    <p> {{contact.email}} </p>
    <p> {{contact.phoneNumber}} </p>
    <img src =  "{{contact.image}}" />
  </li>
</ul>
<!-- <ul>
  <li>
<p>  {{contact.name[0]}} </p>
<p> {{contact.email[0]}} </p>
<p> {{contact.phoneNumber[0]}} </p>
<img src =  "{{contact.image[0]}}" />
</li>
</ul> -->
